<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-voiceit"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="1.2.9">

  <name>VoiceItCordova</name>

  <description>
    This plugin is a Cordova VoiceIt plugin for that encapsulates VoiceIt's Voice Authentication(Voice Biometrics) API
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/VoiceItCordova.js" name="VoiceItCordova">
    <clobbers target="window.plugins.VoiceItCordova" />
  </js-module>

  <!-- ios -->
   <platform name="ios">
     <config-file target="config.xml" parent="/*">
       <feature name="VoiceItCordova">
         <param name="ios-package" value="VoiceItCordova"/>
       </feature>
     </config-file>
     <header-file src="src/ios/VoiceIt.h"/>
     <source-file src="src/ios/VoiceIt.m"/>
     <header-file src="src/ios/VoiceItCordova.h"/>
     <source-file src="src/ios/VoiceItCordova.m"/>
     <header-file src="src/ios/Encryption.h"/>
     <source-file src="src/ios/Encryption.m"/>
   </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="VoiceItCordova">
        <param name="android-package" value="com.voiceittech.plugins.VoiceItCordova" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    </config-file>
    <source-file src="src/android/com/voiceittech/plugins/VoiceItCordova.java" target-dir="src/com/voiceittech/plugins"/>
    <source-file src="src/android/com/voiceittech/plugins/VoiceIt.java" target-dir="src/com/voiceittech/plugins"/>
  </platform>

</plugin>
